body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f8fafc;
}

.wrapper {
  padding: 60px 0;
}

.container {
  width: 650px;
  margin: auto;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

h1 { text-align: center; }

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 18px;
  font-weight: 600;
}


.upload-box {
  display: flex;
  align-items: center;
  background: #f1f5f9;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.upload-btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.file-display {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
}

.delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-btn:disabled { opacity: 0.4; }


textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.parse-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}


.results { margin-top: 25px; }

.candidate {
  background: #f1f5f9;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.score {
  font-weight: bold;
  color: #10b981;
}

.tag {
  margin-left: 10px;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.shortlist { background: #d1fae5; color: #065f46; }
.maybe { background: #fef3c7; color: #92400e; }
.reject { background: #fee2e2; color: #991b1b; }